.tab {
  transition: 0.2s ease-in-out;
}

.navbar.is-transparent a.navbar-item:hover:hover {
  background-color: #d24a40 !important;
}

.tab:hover>span {
  color: gold;
}

.tab>span {
  transition: 0.2s ease-in-out;
}